<script type="text/javascript" charset="utf-8">

function findLocation() {
  navigator.geolocation.getCurrentPosition(foundLocation, noLocation);
}
function foundLocation(position)
{
  var lat = position.coords.latitude;
  var long = position.coords.longitude;	
  alert('Found location: ' + lat + ', ' + long);
  
}
function noLocation()
{
  alert('Could not find location');
}
</script>

<h1>Listing locations</h1>
<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.address %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

Click the button to find your location:<br />
<form><input type="button" value="Find me" onclick="javascript:findLocation();" /></form>


<%= link_to 'New Location', new_location_path %>